<!-- <div>
  <div class="flex space-x-4 mb-4 items-center justify-center py-4">
    <button (click)="setChart('line')" [class.bg-blue-600]="activeChart === 'line'"
      [class.text-white]="activeChart === 'line'" class="border p-4 rounded-lg cursor-pointer transition-colors">
      Line Chart
    </button>

    <button (click)="setChart('bar')" [class.bg-blue-600]="activeChart === 'bar'"
      [class.text-white]="activeChart === 'bar'" class="border p-4 rounded-lg cursor-pointer transition-colors">
      Bar Chart
    </button>

    <button (click)="setChart('pie')" [class.bg-blue-600]="activeChart === 'pie'"
      [class.text-white]="activeChart === 'pie'" class="border p-4 rounded-lg cursor-pointer transition-colors">
      Pie Chart
    </button>
  </div>

  <div id="lineChart" [class.hidden]="activeChart !== 'line'" style="width: 100%; height: 400px;"></div>

  <div id="barChart" [class.hidden]="activeChart !== 'bar'">
  </div>

  <div id="pieChart" [class.hidden]="activeChart !== 'pie'"></div>
</div> -->
<div>
  <div class="flex space-x-4 mb-4 items-center justify-center py-4">
    @for (chart of chartTypes; track chart) {
      <button 
        (click)="activeChart = chart" 
        [class.bg-blue-600]="activeChart === chart"
        [class.text-white]="activeChart === chart"
        class="border p-4 rounded-lg cursor-pointer capitalize"
        >
        {{ chart }} Chart
      </button>
    }
  </div>

  <app-echarts-graph 
    [type]="activeChart" 
    [ages]="ages" 
    [salaries]="salaries">
  </app-echarts-graph>
</div>

<!-- 

<hlm-tabs tab="line-chart" id="tabsdata" >
  <hlm-tabs-list>
    <button hlmTabsTrigger="bar-chart">Bar Chart</button>
    <button hlmTabsTrigger="line-chart">Line Chart</button>
    <button hlmTabsTrigger="pie-chart">Pie Chart</button>
  </hlm-tabs-list>

  <div hlmTabsContent="bar-chart">
    <div id="barChart"></div>

  </div>

  <div hlmTabsContent="line-chart">
   <div id="lineChart" style="width: 100%; height: 400px;"></div>
  </div>

  <div hlmTabsContent="pie-chart">
    <div id="pieChart"></div>

  </div>
</hlm-tabs>  -->